.future {
  background-color: rgba(240, 128, 128, 0.17);
}

.book_li {
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
  display: grid;
  grid-template: 90px / 30px 70px 2fr 1fr 140px;
  width: 100%;
  box-sizing: border-box;

  .order-num {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    color: gray;
  }

  .img-container {
    padding-top: 6px;
    text-align: center;
  }

  img {
    object-fit: contain;
    max-height: 75px;
    width: 50px;
  }

  .info {
    position: relative;
    padding-left: 15px;
  }

  .title {
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
  }

  .author {
    margin: 0;
    font-size: 80%;
  }

  .ratings {
    margin-top: 7px;
    display: flex;
    align-items: center;
    
    p {
      font-size: 80%;
      color: gray;
      margin: 0 0 0 7px;
    }
  }

  button {
    height: 30px;
    margin: 15px;
    align-self: flex-start;
  }

  .details {
    display: flex;
    flex-direction: column;

    .series-btn {
      background-color: greenyellow;
      border: none;
      cursor: pointer;
      border-radius: 3px;
      margin: 0;
      width: 60px;
    }

    .series-btn:hover {
      background-color: #91d629;
      box-shadow: 0 0 15px -3px gray;
    }

    .future-release {
      background-color: rgba(240, 128, 128, 0.5);
      font-size: 80%;
      margin-top: 10px;
      align-self: flex-start;
      padding: 5px;
      border-radius: 3px;
    }

    .serie-position {
      color: gray;

      span {
        font-weight: bold;
      }
    }
  }

  .heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;

    .heart {
      height: 30px;
      width: 30px;
      cursor: pointer;
      transition: 0.2s;
      justify-self: end;
      margin-right: 25px;
    }
  
    .heart:hover {
      filter: drop-shadow(0 0 2px #f55641);
    }
  }
}
